html {
    height: 100%;
    font-family: 'Ubuntu', sans-serif !important;
}

body{
    font-family: 'Ubuntu', sans-serif !important;
}

html body {
    height: 100%;
}

header {
    height: 50px;
    background-color: #EFEFEF;
}

footer {
    background-color:#EFEFEF;
    color:  #A9A9A9;
}

#container{
    width: 100%;
    height: 90vh;
}

/*
watermelon: #FF3B3F
neutral: #EFEFEF
carbon: #A9A9A9
sky: #CAEBF2
*/


.heart-icon{
    color: #FF3B3F;
    font-size: 30px;
    margin-left: 10px;
}

.title{
    color: #A9A9A9;
    font-size: 20px;
    display: inline-block;
    margin-top: 10px;
}

.vcenter {
    vertical-align: middle;
    float: none;
}


.under{
    color: #CAEBF2;
}

.over{
    color: #FF3B3F;
}

.same{
    color: #A9A9A9;
}